@charset"UTF-8";
*
{
    padding: 0px;
    margin: 0px;
}
body
{
    background-color: #777676;    
    width: 100%;
    height: 100%; 

}



div#interface
{
    width: 1000px; 
    margin: -10px auto 0px auto;
}



div#cabecalho
{
    width: 100%;
    height: 125px;      
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

/* formataçao do logo */
div#logo
{
    display: block;
    width: 45%;
    height: 110px;
    float: left;    
    color: #000000;    
    text-align: left;  
    margin: 0px; 
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to bottom right,rgb(7, 187, 16),rgb(6, 61, 6));
    border-top-left-radius: 20px;    
}
div#logo img
{
    display: block;
    float: left;
    margin-left: 5px;
}
div#menu input 
{
    display: none;
}
div#logo h1
{
    display: block;
    float: left;
    font-size: 20pt;
    margin-top: 20px;   
    margin-left: 5px;
}

/* formataçao do menu  */
div#menu
{     
    display: block;    
    width: 55%;
    height: 110px;    
    float: left; 
    color: #000000;
    margin: 0px;
    background-image: linear-gradient(to top right,rgb(6, 61, 6),rgb(7, 187, 16));
    border-top-right-radius: 20px;

    
}
div#menu img 
{
    display: none;
    z-index: 1;

}
div#menu ul {

    margin-top: 15px;
    text-transform:uppercase;
    list-style: none;
    display: inline-block;        
    font-size: 12pt;
}

div#menu li {
    
    display:inline-block;
    text-decoration: none;
    text-align: center;    
    padding:5px;
    margin: 2px;   
    transition:background-color 1s , color 1s; 
 
}
div#menu li a
{
    width: 100%;
    text-decoration: none;
    color: #000000;
    transition:background-color 1s , color 1s;
}


div#menu li a:hover {
        
    
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background-color: #024e19;
    color:rgb(7, 187, 16);
}
footer#rodape
{
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-top: 1px solid #000000;
    clear: both;
    height:70px;
}
footer#rodape p
{  
    text-align: center;

}

@media (max-width:1020px)
{
    div#interface
    {
        width: 860px;        
        
    }    

    div#logo
    {
        width: 50%;            

    }
    div#menu
    {     
            
        width: 50%;
    }        
}

    

@media (max-width:800px)
{
    div#interface
    {
        width: 720px;        
        
    }
    div#logo
    { 
        width: 100%;
        border-top-right-radius: 20px;
        
            
    }
    div#logo img 
    {
        margin: 0px auto 0px 200px;

    }
    div#menu
    {     
        display: block;    
        width: 100%;
        height: 40px;
        background-image: linear-gradient(to bottom left,rgb(6, 61, 6),rgb(7, 187, 16));
        border-top-right-radius:0px;
    }
    div#menu ul 
    {
        display: block;
        margin: 0px auto 0px 110px;
        
        

    }
}
@media (max-width:600px)
{
    div#interface
    {
        width: 340px;        
        
    }
    div#logo
    {
        width: 100% ;
    }
    div#menu
    {
        background-image: linear-gradient(to bottom left,rgb(6, 61, 6),rgb(7, 187, 16));
    }
    div#logo h1{
        width: 50%;
        

    }

    div#logo img 
    {
        
        margin: 0px auto 0px 10px;
    }
    

    

    
    div#menu ul
    {
               
        background-image: linear-gradient(to bottom left,rgb(6, 61, 6),rgb(4, 119, 10));
        width: 52%;        
        margin: -100px 0px 0px 500px;
        display: absolute;
        float: left;
        z-index: 5;
        

        
    }
    

   input[type="checkbox"]:checked ~ ul
   {
       transition: transform 1s;
       transform: translateX(-380px);
       
   }
   div#menu li {
    
    display:inline-block;
    width: 90%;
    text-decoration: none;    
    
    
       
    transition:background-color 1s , color 1s; 
 
}
    
        
    
    

    div#menu img 
    {
        margin-right: 10px;
        float: right;
        width: 30px;
        height: 30px;
        display: block;
        
    }
}
/*@media all and (max-width:3800px)
{
    div#interface
    {
        width: 720px; 
        height: 1200px;       
        
    }
    div#logo
    { 
        width: 100%;
        border-top-right-radius: 20px;
        
            
    }
    div#logo img 
    {
        margin: 0px auto 0px 200px;

    }
    div#menu
    {     
        display: block;    
        width: 100%;
        height: 40px;
        background-image: linear-gradient(to bottom left,rgb(6, 61, 6),rgb(7, 187, 16));
        border-top-right-radius:0px;
    }
    div#menu ul 
    {
        display: block;
        margin: 0px auto 0px 110px;
        
        

    }
}
*/

