@charset"utf-8";

section#principal
{
    width: 62.9%;
    background-color: rgb(234, 248, 236);
    height: 900px;
    padding: 1%;
    margin-top: -15px;
    display: block;
    float: left;
    border-right: 1px solid #000000;

}

.titulo h1
{
    padding: 10px;
    border-bottom: 1px solid #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 4px #000000;
    color: rgba(0, 0,0,0.5 );
    background-image: linear-gradient(to top left,rgb(244, 247, 244),rgb(4, 119, 10));
    border-top-right-radius:20px ;
    border-top-left-radius:20px;

}
section#principal p 
{
    padding: 10px;
}
section#principal img
{
    width: 100%;
    height: 100%;
    
}
figure#principal
{   
    width: 100%;
    height: 40%;    
    box-shadow: 1px 1px 4px #000000;
    display: block;   
    margin: none;
    position: relative;
    
}

figure#principal figcaption
{
    position: absolute;
    display: block;
    top: 0px;
    background-color: rgba(0, 0,0,0.5) ;
    color: #ffffff;
    height: 100%;
    width: 100%;    
    box-sizing: border-box; 
    opacity: 0; 
    transition: opacity 1s;
}
figcaption h3
{
    font-size: 25pt;
    text-indent: 10px;
    text-shadow: 2px solid #000000;

}
figcaption p
{
    font-size: 20pt;
    text-indent: 15px;
    text-shadow: 1px solid #000000;

}
figure#principal figcaption:hover
{
    opacity: 1;

}
figure#lateral
{
    display: block;
    width: 100%;
    height: 75%;
    box-shadow: 1px 1px 4px #000000;
    display: block;   
    margin: none;
    position: relative;
}
figure#lateral figcaption
{
    position: absolute;
    display: block;
    top: 0px;
    background-color: rgba(0, 0,0,0.4) ;
    color: #ffffff;
    height: 100%;
    width: 100%;    
    box-sizing: border-box; 
    opacity: 0; 
    transition: opacity 1s;
}
figure#lateral figcaption:hover
{
    opacity: 1;

}
.space
{
    margin-top: 2%;
}
figure#lateral h1{
    
    display: block;
    
}


aside#lateral
{
    width: 32.9%;
    background-color: rgb(234, 248, 236);
    height: 900px;
    padding: 1%;
    display: block;
    float: right;
    margin-top: -15px;
}

article{
    height: 33%;
    position: relative;
}


article p
{
    padding: 1%;
    
}

aside#lateral img
{
    width: 100%;
    height: 100%;
    
}
aside#lateral.foto_legenda
{
    position: absolute;
    display: block;
    top: 0px;
    background-color: rgba(0, 0,0,0.4) ;
    color: #ffffff;
    height: 100%;
    width: 100%;    
    box-sizing: border-box; 
    opacity: 0; 
    transition: opacity 1s;
}



/*midias*/
@media (max-width:1020px)
{
    section#principal
    {
        width: 65.85%;
        margin-left: auto;
        margin-right: auto;
               
        padding: 1%;
        margin-top: -15px;
        display: block;
        float: left;       


    }
    aside#lateral
{
    width: 30%;    
    height: 900px;
    padding: 1%;
    display: block;
    float: right;
    margin-top: -15px;
}
            
}

    

@media (max-width:800px)
{
    section#principal
    {
        width: 98%;
        margin-left: auto;
        margin-right: auto;        
        height: 900px;
        padding: 1%;
        margin-top: -10px;
        display: block;
        float: left;
        


    }
    aside#lateral
    {
        width: 98%;        
        height: 900px;
        padding: 1%;
        display: block;
        float: left;
        margin-top: -15px;
    }

    
}
@media (max-width:600px)
{  
    section#principal
    {
        width: 98%;
        margin-left: auto;
        margin-right: auto;        
        height: 800px;        
        margin-top: 0px;        
        display: relative;
        float: left;
        border-right: none;
        
         
        
    }
    section#principal img
    {
        width: 100%;
        height: 100%; 
        
              
        
    }
    figure#principal 
    {
        height:40%;
       


        
    }
    aside#lateral
    {
        width: 98%;        
        height: 900px;        
        display: block;
        float: right;
        margin-top: -10px;
    }
    .space
{
    margin-top: 5%;
}
    
}
@media all and (min-width:2800px)
{  
    section#principal
    {
        width: 98%;
        margin-left: auto;
        margin-right: auto;        
        height: 900px;
        padding: 1%;
        margin-top: -10px;
        display: block;
        float: left;
        


    }
    aside#lateral
    {
        width: 98%;        
        height: 900px;
        padding: 1%;
        display: block;
        float: left;
        margin-top: -15px;
    }
    
}
